nav {
    width: 100%;
    background-color: rgb(23, 88, 116);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    .nav-links {
        list-style: none;
        display: flex;
        .nav-item a {
            display: inline-block;
            text-decoration: none;
            color: rgb(200, 226, 255);
            padding: 1em ;
            &:hover {
                color: rgb(255, 255, 255);
            }
            &.active {
                font-weight: bold;
            }
        }
    }
}

nav.vertical {
    width: 100px;
    height: 100%;
    background-color: rgb(1, 43, 61);
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    .nav-links {
        flex-direction: column;
        .nav-item a {
            display: block;
            padding: 4em 0;
            
        }
    }

}